<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="/base/style/base.css" />
    <link rel="stylesheet" href="/notebook/style/style.css" />
    <link rel="stylesheet" href="../static/notebook/style/createNotebook.css" />
    <link rel="stylesheet" href="../static/notebook/style/main.css" />
    <link rel="stylesheet" href="../static/notebook/style/wrapper.css" />
    <link rel="stylesheet" href="../static/notebook/style/sidebar.css" />
    <link rel="stylesheet" href="../static/notebook/style/main-notebook.css" />
    <link rel="stylesheet" href="../static/base/style/base.css" />
    <link rel="stylesheet" href="../static/base/style/message.css" />
    <link rel="stylesheet" href="../static/base/style/reset.css" />
    <link rel="stylesheet" href="../static/base/style/deleteAlert.css" />
    <title>notebook</title>
  </head>
  <body>
    <div class="wrapper flex">
      <section class="sideBar">
        <h1 class="display-none">Linknote</h1>
        <div class="sideBar-welcome">
          <div class="welcome-username">
            <img
              src="https://cdn.linknote.online/linknote-icons/person-black.png"
              alt="person-black"
            />
            <p class="no-select">Hi <span id="username"></span></p>
          </div>
          <h2 class="no-select">Welcome to LinkNote!</h2>
        </div>
        <button id="createNotebookBtn" class="no-select">+ New Notebook</button>

        <div class="sideBarBtnArea">
          <div class="sideBarMyNotebookArea">
            <div class="sideBarBtn no-select notebookGroup">
              <div class="myNotebookBtn">
                <img
                  src="https://cdn.linknote.online/linknote-icons/person-white.png"
                  alt="person-white"
                />
                <p>My Notebooks</p>
              </div>

              <!-- <div id="myNotebookExtendBtn" class="extendBtn"></div> -->
            </div>
            <div
              class="notebooksCtn scroll"
              id="sideBar-myNotebookBtnCtn"
            ></div>
          </div>

          <div class="sideBarCoNotebookArea">
            <div class="sideBarBtn no-select notebookGroup">
              <div class="coNotebookBtn">
                <img
                  src="https://cdn.linknote.online/linknote-icons/collaborators.png"
                  alt="person-white"
                />
                <p>Collaborative Notebooks</p>
              </div>
              <!-- <div id="coNotebookExtendBtn" class="extendBtn"></div> -->
            </div>
            <div class="notebooksCtn scroll" id="sideBar-coNotebookBtnCtn">
              <!-- <div class="loader sideBarLoader"></div> -->
            </div>
          </div>

          <div class="sideBarBtn no-select invitationsBtn">
            <img
              src="https://cdn.linknote.online/linknote-icons/notebook.png"
              alt="Collaborative Notebooks 
              Management"
            />
            <p>Invitations Management</p>
          </div>

          <div class="sideBarBtn no-select settingBtn">
            <img
              src="https://cdn.linknote.online/linknote-icons/setting.png"
              alt="setting"
            />
            <p>Setting</p>
          </div>
        </div>

        <div class="sideBarBottom">
          <div class="userEmail sideBarBottomBlock no-select">
            <p id="email"></p>
          </div>
          <div class="signoutBtn sideBarBottomBlock no-select">
            <p>SignOut</p>
          </div>
        </div>
      </section>
      <main>
        <div class="mainWrapper">
          <section class="notebookArea">
            <section class="noteCtn">
              <h4>Java</h4>
              <p class="description">學習Java開發後端APIIII</p>
              <div class="toolBar">
                <div class="createNoteBtn"><p>New note</p></div>
                <div class="toolBtn" id="collaboratorBtn">
                  <img
                    src="https://cdn.linknote.online/linknote-icons/addCollaborator.png"
                    alt="collaboratorBtn"
                  />
                </div>
                <div class="collaboratorForm">
                  <h5>Collaborators</h5>
                  <div class="collaborator">
                    <p>Sandy Yang</p>
                    <div class="deleteCollaboratorBtn">
                      <p>Remove</p>
                    </div>
                  </div>
                  <div class="collaborator">
                    <p>Sandy Yang</p>
                    <div class="deleteCollaboratorBtn">
                      <p>Remove</p>
                    </div>
                  </div>

                  <div class="collaborator">
                    <p>Sandy Yang</p>
                    <div class="deleteCollaboratorBtn">
                      <p>Remove</p>
                    </div>
                  </div>
                  <div class="invitationForm">
                    <p>Invite Collaborator</p>
                    <input
                      type="email"
                      id="inviteEmail"
                      placeholder="Email Address"
                    />
                    <input
                      type="text"
                      id="inviteMessage"
                      placeholder="Invitation message"
                    />
                    <div id="inviteBtn">Invite</div>
                  </div>
                </div>
                <div class="toolBtn" id="allNoteBtn">
                  <img
                    src="https://cdn.linknote.online/linknote-icons/box.png"
                    alt="box"
                  />
                </div>
                <div class="toolBtn" id="tagBtn">
                  <img
                    src="https://cdn.linknote.online/linknote-icons/tag.png"
                    alt="tag"
                  />
                </div>
                <div class="toolBtn" id="sortByTimeBtn">
                  <img
                    src="https://cdn.linknote.online/linknote-icons/clock.png"
                    alt="clock"
                  />
                </div>
                <div class="toolBtn" id="starBtn">
                  <img
                    src="https://cdn.linknote.online/linknote-icons/full-star.png"
                    alt="star"
                  />
                </div>
                <div class="search">
                  <input
                    type="text"
                    id="searchNote"
                    placeholder="search notes"
                  />
                  <img
                    src="https://cdn.linknote.online/linknote-icons/search.png"
                    alt="search"
                  />
                </div>
                <div class="deleNotebookBtn toolBtn">
                  <img
                    src="https://cdn.linknote.online/linknote-icons/trash-white.png"
                    alt=""
                  />
                </div>
              </div>
              <div class="updateBtnCtn">
                <div class="updateBtn display-none">Save</div>
                <div class="dcancelUpdateBtn display-none">Cancel</div>
              </div>
              <div class="noteCardCtn">
                <a href="/notebooks" class="noteCard">
                  <div class="star star-full"></div>
                  <h5>Java note5</h5>
                  <p class="question">如何使用java開發後端api</p>
                  <p class="createTime">2024-02-15</p>
                </a>
                <!-- <a href="/notebooks" class="noteCard">
                  <div class="star star-full"></div>
                  <h5>Java note5</h5>
                  <p class="question">
                    如何使用java開發後端api如何使用java開發後端api如何使用java開發後端api如何使用java開發後端api
                    如何使用java開發後端api如何使用java開發後端api如何使用java開發後端api如何使用java開發後端api如何使用java開發後端api如何使用java開發後端api如何使用java開發後端api如何使用java開發後端api如何使用java開發後端api如何使用java開發後端api
                  </p>
                  <div class="deleteNoteBtn"></div>
                  <p class="createTime">2024-02-15</p>
                </a>
                <a href="/notebooks" class="noteCard">
                  <div class="star star-full"></div>
                  <h5>Java note5</h5>
                  <p class="question">如何使用java開發後端api</p>
                  <p class="createTime">2024-02-15</p>
                </a>
                <a href="/notebooks" class="noteCard">
                  <div class="star star-full"></div>
                  <h5>Java note5</h5>
                  <p class="question">如何使用java開發後端api</p>
                  <div class="deleteNoteBtn"></div>
                  <p class="createTime">2024-02-15</p>
                </a>
                <a href="/notebooks" class="noteCard">
                  <div class="star star-full"></div>
                  <h5>Java note5</h5>
                  <p class="question">如何使用java開發後端api</p>
                  <p class="createTime">2024-02-15</p>
                </a>
                <a href="/notebooks" class="noteCard">
                  <div class="star star-full"></div>
                  <h5>Java note5</h5>
                  <p class="question">如何使用java開發後端api</p>
                  <p class="createTime">2024-02-15</p>
                </a>
                <a href="/notebooks" class="noteCard">
                  <div class="star star-full"></div>
                  <h5>Java note5</h5>
                  <p class="question">如何使用java開發後端api</p>
                  <p class="createTime">2024-02-15</p>
                </a>
                <a href="/notebooks" class="noteCard">
                  <div class="star star-full"></div>
                  <h5>Java note5</h5>
                  <p class="question">如何使用java開發後端api</p>
                  <p class="createTime">2024-02-15</p>
                </a>
                <a href="/notebooks" class="noteCard">
                  <div class="star star-full"></div>
                  <h5>Java note5</h5>
                  <p class="question">如何使用java開發後端api</p>
                  <p class="createTime">2024-02-15</p>
                </a>
                <a href="/notebooks" class="noteCard">
                  <div class="star star-full"></div>
                  <h5>Java note5</h5>
                  <p class="question">如何使用java開發後端api</p>
                  <p class="createTime">2024-02-15</p>
                </a>
                <a href="/notebooks" class="noteCard">
                  <div class="star star-full"></div>
                  <h5>Java note5</h5>
                  <p class="question">如何使用java開發後端api</p>
                  <p class="createTime">2024-02-15</p>
                </a>
                <a href="/notebooks" class="noteCard">
                  <div class="star star-full"></div>
                  <h5>Java note5</h5>
                  <p class="question">如何使用java開發後端api</p>
                  <p class="createTime">2024-02-15</p>
                </a>
                <a href="/notebooks" class="noteCard">
                  <div class="star star-full"></div>
                  <h5>Java note5</h5>
                  <p class="question">如何使用java開發後端api</p>
                  <p class="createTime">2024-02-15</p>
                </a>
                <a href="/notebooks" class="noteCard">
                  <div class="star star-full"></div>
                  <h5>Java note5</h5>
                  <p class="question">如何使用java開發後端api</p>
                  <p class="createTime">2024-02-15</p>
                </a>
                <a href="/notebooks" class="noteCard">
                  <div class="star star-full"></div>
                  <h5>Java note5</h5>
                  <p class="question">如何使用java開發後端api</p>
                  <p class="createTime">2024-02-15</p>
                </a>
                <a href="/notebooks" class="noteCard">
                  <div class="star star-full"></div>
                  <h5>Java note5</h5>
                  <p class="question">如何使用java開發後端api</p>
                  <p class="createTime">2024-02-15</p>
                </a>
                <a href="/notebooks" class="noteCard">
                  <div class="star star-full"></div>
                  <h5>Java note5</h5>
                  <p class="question">如何使用java開發後端api</p>
                  <p class="createTime">2024-02-15</p>
                </a>
                <a href="/notebooks" class="noteCard">
                  <div class="star star-full"></div>
                  <h5>Java note5</h5>
                  <p class="question">如何使用java開發後端api</p>
                  <p class="createTime">2024-02-15</p>
                </a>
                <a href="/notebooks" class="noteCard">
                  <div class="star star-full"></div>
                  <h5>Java note5</h5>
                  <p class="question">如何使用java開發後端api</p>
                  <p class="createTime">2024-02-15</p>
                </a>
                <a href="/notebooks" class="noteCard">
                  <div class="star star-full"></div>
                  <h5>Java note5</h5>
                  <p class="question">如何使用java開發後端api</p>
                  <p class="createTime">2024-02-15</p>
                </a>
                <a href="/notebooks" class="noteCard">
                  <div class="star star-full"></div>
                  <h5>Java note5</h5>
                  <p class="question">如何使用java開發後端api</p>
                  <p class="createTime">2024-02-15</p>
                </a>
                <a href="/notebooks" class="noteCard">
                  <div class="star star-full"></div>
                  <h5>Java note5</h5>
                  <p class="question">如何使用java開發後端api</p>
                  <p class="createTime">2024-02-15</p>
                </a>
                <a href="/notebooks" class="noteCard">
                  <div class="star star-full"></div>
                  <h5>Java note5</h5>
                  <p class="question">如何使用java開發後端api</p>
                  <p class="createTime">2024-02-15</p>
                </a>
                <a href="/notebooks" class="noteCard">
                  <div class="star star-full"></div>
                  <h5>Java note5</h5>
                  <p class="question">如何使用java開發後端api</p>
                  <p class="createTime">2024-02-15</p>
                </a>
                <a href="/notebooks" class="noteCard">
                  <div class="star star-full"></div>
                  <h5>Java note5</h5>
                  <p class="question">如何使用java開發後端api</p>
                  <p class="createTime">2024-02-15</p>
                </a>
                <a href="/notebooks" class="noteCard">
                  <div class="star star-full"></div>
                  <h5>Java note5</h5>
                  <p class="question">如何使用java開發後端api</p>
                  <p class="createTime">2024-02-15</p>
                </a>
                <a href="/notebooks" class="noteCard">
                  <div class="star star-full"></div>
                  <h5>Java note5</h5>
                  <p class="question">如何使用java開發後端api</p>
                  <p class="createTime">2024-02-15</p>
                </a>
                <a href="/notebooks" class="noteCard">
                  <div class="star star-full"></div>
                  <h5>Java note5</h5>
                  <p class="question">如何使用java開發後端api</p>
                  <p class="createTime">2024-02-15</p>
                </a>
                <a href="/notebooks" class="noteCard">
                  <div class="star star-full"></div>
                  <h5>Java note5</h5>
                  <p class="question">如何使用java開發後端api</p>
                  <p class="createTime">2024-02-15</p>
                </a>

                <a href="/notebooks" class="noteCard">
                  <div class="star star-full"></div>
                  <h5>Java note5</h5>
                  <p class="question">如何使用java開發後端api</p>
                  <p class="createTime">2024-02-15</p>
                </a>
                <a href="/notebooks" class="noteCard">
                  <div class="star star-full"></div>
                  <h5>Java note5</h5>
                  <p class="question">如何使用java開發後端api</p>
                  <p class="createTime">2024-02-15</p>
                </a>
                <a href="/notebooks" class="noteCard">
                  <div class="star star-full"></div>
                  <h5>Java note5</h5>
                  <p class="question">如何使用java開發後端api</p>
                  <p class="createTime">2024-02-15</p>
                </a>
                <a href="/notebooks" class="noteCard">
                  <div class="star star-full"></div>
                  <h5>Java note5</h5>
                  <p class="question">如何使用java開發後端api</p>
                  <p class="createTime">2024-02-15</p>
                </a>
                <a href="/notebooks" class="noteCard">
                  <div class="star star-full"></div>
                  <h5>Java note5</h5>
                  <p class="question">如何使用java開發後端api</p>
                  <p class="createTime">2024-02-15</p>
                </a>
                <a href="/notebooks" class="noteCard">
                  <div class="star star-full"></div>
                  <h5>Java note5</h5>
                  <p class="question">如何使用java開發後端api</p>
                  <p class="createTime">2024-02-15</p>
                </a>
                <a href="/notebooks" class="noteCard">
                  <div class="star star-full"></div>
                  <h5>Java note5</h5>
                  <p class="question">如何使用java開發後端api</p>
                  <p class="createTime">2024-02-15</p>
                </a>
                <a href="/notebooks" class="noteCard">
                  <div class="star star-full"></div>
                  <h5>Java note5</h5>
                  <p class="question">如何使用java開發後端api</p>
                  <p class="createTime">2024-02-15</p>
                </a>
                <a href="/notebooks" class="noteCard">
                  <div class="star star-full"></div>
                  <h5>Java note5</h5>
                  <p class="question">如何使用java開發後端api</p>
                  <p class="createTime">2024-02-15</p>
                </a> -->
              </div>
            </section>
          </section>
        </div>
      </main>
    </div>

    <script src="/base/js/Authentication.js"></script>
    <script src="/base/js/FetchData.js"></script>
    <script src="/notebook/js/ReRenderElement.js"></script>
    <script src="/notebook/js/createNotebook.js"></script>
    <script src="/notebook/js/NotebookRender.js"></script>
    <script src="/notebook/js/sideBar.js"></script>
    <script src="/base/js/Message.js"></script>
    <script src="/base/js/DeleteAlert.js"></script>
  </body>
</html>
