<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="/base/style/base.css" />
    <link rel="stylesheet" href="/notebook/style/style.css" />
    <link rel="stylesheet" href="../static/notebook/style/createNotebook.css" />
    <link rel="stylesheet" href="../static/notebook/style/main.css" />
    <link rel="stylesheet" href="../static/notebook/style/wrapper.css" />
    <link rel="stylesheet" href="../static/notebook/style/sidebar.css" />
    <link rel="stylesheet" href="../static/notebook/style/main-notebook.css" />
    <link rel="stylesheet" href="../static/base/style/base.css" />
    <link rel="stylesheet" href="../static/base/style/message.css" />
    <link rel="stylesheet" href="../static/base/style/reset.css" />
    <link rel="stylesheet" href="../static/base/style/deleteAlert.css" />
    <title>notebook</title>
  </head>
  <body>
    <div class="wrapper flex">
      <section class="sideBar">
        <h1 class="display-none">Linknote</h1>
        <div class="sideBar-welcome">
          <div class="welcome-username">
            <img
              src="https://cdn.linknote.online/linknote-icons/person-black.png"
              alt="person-black"
            />
            <p class="no-select">Hi <span id="username"></span></p>
          </div>
          <h2 class="no-select">Welcome to LinkNote!</h2>
        </div>
        <button id="createNotebookBtn" class="no-select">+ New Notebook</button>

        <div class="sideBarBtnArea">
          <div class="sideBarMyNotebookArea">
            <div class="sideBarBtn no-select notebookGroup">
              <div class="myNotebookBtn">
                <img
                  src="https://cdn.linknote.online/linknote-icons/person-white.png"
                  alt="person-white"
                />
                <p>My Notebooks</p>
              </div>

              <!-- <div id="myNotebookExtendBtn" class="extendBtn"></div> -->
            </div>
            <div class="notebooksCtn" id="sideBar-myNotebookBtnCtn"></div>
          </div>

          <div class="sideBarCoNotebookArea">
            <div class="sideBarBtn no-select notebookGroup">
              <div class="coNotebookBtn">
                <img
                  src="https://cdn.linknote.online/linknote-icons/collaborators.png"
                  alt="person-white"
                />
                <p>Collaborative Notebooks</p>
              </div>
              <!-- <div id="coNotebookExtendBtn" class="extendBtn"></div> -->
            </div>
            <div class="notebooksCtn" id="sideBar-coNotebookBtnCtn">
              <!-- <div class="loader sideBarLoader"></div> -->
            </div>
          </div>

          <div class="sideBarBtn no-select invitationsBtn">
            <img
              src="https://cdn.linknote.online/linknote-icons/notebook.png"
              alt="Collaborative Notebooks 
              Management"
            />
            <p>Invitations Management</p>
          </div>

          <div class="sideBarBtn no-select settingBtn">
            <img
              src="https://cdn.linknote.online/linknote-icons/setting.png"
              alt="setting"
            />
            <p>Setting</p>
          </div>
        </div>

        <div class="sideBarBottom">
          <div class="userEmail sideBarBottomBlock no-select">
            <p id="email"></p>
          </div>
          <div class="signoutBtn sideBarBottomBlock no-select">
            <p>SignOut</p>
          </div>
        </div>
      </section>

      <main>
        <div class="mainWrapper">
          <section class="notebookArea">
            <div class="notebooksTop">
              <h3>My Notebooks</h3>
              <div class="search">
                <input
                  type="text"
                  id="searchNotebook"
                  placeholder="search notebook"
                />
                <img
                  src="https://cdn.linknote.online/linknote-icons/search.png"
                  alt="search"
                />
              </div>
            </div>
            <div class="notebookCtn">
              <section class="noteCtn">
                <img
                  class="deleteNotebookBtn"
                  src="https://cdn.linknote.online/linknote-icons/trash-white.png"
                />
                <div class="notebookInfo">
                  <h4 contenteditable="true" class="editMode">Notebook1</h4>
                  <p class="description editMode" contenteditable="true">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Eaque explicabo facere atque, asperiores autem non impedit.
                    Neque, ratione dignissimos quis, laboriosam velit culpa
                    illum, totam odit expedita quaerat blanditiis in.
                  </p>
                  <div class="updateBtnCtn">
                    <div class="updateBtn">Save</div>
                    <div class="cancelUpdateBtn">Cancel</div>
                  </div>
                </div>

                <div class="noteCardCtn">
                  <a class="noteCard" href="/">
                    <div class="star"></div>
                    <h5>note1</h5>
                    <p class="content">
                      Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                      Consectetur atque in corporis voluptatum laudantium. Quo
                      non laboriosam alias! Corporis earum obcaecati tempora
                      reprehenderit animi molestias doloribus temporibus
                      pariatur, velit suscipit.
                    </p>
                    <p class="createTime">2024 Jan 1</p>
                  </a>
                  <a class="noteCard" href="/">
                    <div class="star"></div>
                    <h5>note1</h5>
                    <p class="content">
                      Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                      Consectetur atque in corporis voluptatum laudantium. Quo
                      non laboriosam alias! Corporis earum obcaecati tempora
                      reprehenderit animi molestias doloribus temporibus
                      pariatur, velit suscipit.
                    </p>
                    <p class="createTime">2024 Jan 1</p>
                  </a>
                  <a class="noteCard" href="/">
                    <div class="star"></div>
                    <h5>note1</h5>
                    <p class="content">
                      Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                      Consectetur atque in corporis voluptatum laudantium. Quo
                      non laboriosam alias! Corporis earum obcaecati tempora
                      reprehenderit animi molestias doloribus temporibus
                      pariatur, velit suscipit.
                    </p>
                    <p class="createTime">2024 Jan 1</p>
                  </a>
                  <a class="noteCard" href="/">
                    <div class="star"></div>
                    <h5>note1</h5>
                    <p class="content">
                      Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                      Consectetur atque in corporis voluptatum laudantium. Quo
                      non laboriosam alias! Corporis earum obcaecati tempora
                      reprehenderit animi molestias doloribus temporibus
                      pariatur, velit suscipit.
                    </p>
                    <p class="createTime">2024 Jan 1</p>
                  </a>
                  <a class="noteCard" href="/">
                    <div class="star"></div>
                    <h5>note1</h5>
                    <p class="content">
                      Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                      Consectetur atque in corporis voluptatum laudantium. Quo
                      non laboriosam alias! Corporis earum obcaecati tempora
                      reprehenderit animi molestias doloribus temporibus
                      pariatur, velit suscipit.
                    </p>
                    <p class="createTime">2024 Jan 1</p>
                  </a>
                  <a class="noteCard" href="/">
                    <div class="star"></div>
                    <h5>note1</h5>
                    <p class="content">
                      Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                      Consectetur atque in corporis voluptatum laudantium. Quo
                      non laboriosam alias! Corporis earum obcaecati tempora
                      reprehenderit animi molestias doloribus temporibus
                      pariatur, velit suscipit.
                    </p>
                    <p class="createTime">2024 Jan 1</p>
                  </a>
                  <a class="noteCard" href="/">
                    <div class="star"></div>
                    <h5>note1</h5>
                    <p class="content">
                      Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                      Consectetur atque in corporis voluptatum laudantium. Quo
                      non laboriosam alias! Corporis earum obcaecati tempora
                      reprehenderit animi molestias doloribus temporibus
                      pariatur, velit suscipit.
                    </p>
                    <p class="createTime">2024 Jan 1</p>
                  </a>
                  <a class="noteCard" href="/">
                    <div class="star"></div>
                    <h5>note1</h5>
                    <p class="content">
                      Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                      Consectetur atque in corporis voluptatum laudantium. Quo
                      non laboriosam alias! Corporis earum obcaecati tempora
                      reprehenderit animi molestias doloribus temporibus
                      pariatur, velit suscipit.
                    </p>
                    <p class="createTime">2024 Jan 1</p>
                  </a>
                </div>
              </section>
            </div>
          </section>
        </div>
      </main>
    </div>

    <script src="/base/js/Authentication.js"></script>
    <script src="/base/js/FetchData.js"></script>
    <script src="/notebook/js/main.js"></script>
    <script src="/notebook/js/createNotebook.js"></script>
    <script src="/notebook/js/NotebookRender.js"></script>
    <script src="/notebook/js/sideBar.js"></script>
    <script src="/base/js/Message.js"></script>
    <script src="/base/js/DeleteAlert.js"></script>
  </body>
</html>
