<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/note/style/note-base.css" />
    <link rel="stylesheet" href="/note/style/style.css" />
    <link
      rel="stylesheet"
      href="https://uicdn.toast.com/editor/latest/toastui-editor.min.css"
    />
    <link rel="stylesheet" href="/tuiEditor/css/dark.css" />
    <link rel="stylesheet" href="../static/note/style/style.css" />
    <link rel="stylesheet" href="../static/note/style/note-base.css" />
    <link rel="stylesheet" href="../static/note/style/topBar.css" />
    <link rel="stylesheet" href="../static/note/style/noteSidebar.css" />
    <link rel="stylesheet" href="../static/note/style/collaborator.css" />
    <link rel="stylesheet" href="../static/note/style/noteTag.css" />
    <link rel="stylesheet" href="../static/note/style/notebookTag.css" />
    <link rel="stylesheet" href="../static/base/style/message.css" />
    <link rel="stylesheet" href="../static/base/style/reset.css" />
    <link rel="stylesheet" href="../static/base/style/deleteAlert.css" />
    <title>Note</title>
  </head>
  <body>
    <div class="wrapper">
      <header>
        <div class="topBarLeft">
          <div id="hamburger">
            <img
              src="https://cdn.linknote.online/linknote-icons/hamburger.png"
              alt="hamburger"
            />
          </div>
        </div>

        <div class="topBarMid">
          <p class="noteName" contenteditable="true"></p>
        </div>
        <div class="topBarRigth">
          <div class="noteTagBtn">
            <img
              src="https://cdn.linknote.online/linknote-icons/tag-yellow.png"
              alt="tag"
            />
            <p>Add tag</p>
          </div>
          <div class="tagForm display-none">
            <h5>Add tags to this note</h5>
            <div class="tagCtn">
              <div class="noTag">
                <p>None</p>
              </div>
              <!-- <div class="tag">
                    <img
                      class="checked"
                      src="https://cdn.linknote.online/linknote-icons/check.png"
                      alt="check"
                    />
                    <p>JDBC</p>
                  </div>
 <div class="tag">
                    <img
                      class="checked"
                      src="https://cdn.linknote.online/linknote-icons/check.png"
                      alt="check"
                    />
                    <p>JPA</p>
                  </div>
 <div class="tag">
                    <img
                      class="checked"
                      src="https://cdn.linknote.online/linknote-icons/check.png"
                      alt="check"
                    />
                    <p>Docker</p>
                  </div>
 <div class="tag">
                    <img
                      class="checked"
                      src="https://cdn.linknote.online/linknote-icons/check.png"
                      alt="check"
                    />
                    <p>Spring</p>
                  </div>
 <div class="tag">
                    <img
                      class="checked"
                      src="https://cdn.linknote.online/linknote-icons/check.png"
                      alt="check"
                    />
                    <p>JVM</p>
                  </div> -->
            </div>
          </div>
          <div class="collaboratorBtn">
            <img
              src="https://cdn.linknote.online/linknote-icons/collaborators.png"
              alt="collaborators"
            />
          </div>
          <div class="collaboratorCtn display-none">
            <div class="owner">
              <p class="title">Owner</p>
              <p class="user"></p>
            </div>
            <div class="collaborators">
              <p class="title">Collaborators</p>
            </div>
          </div>

          <div class="deleteNoteBtn">
            <img
              src="https://cdn.linknote.online/linknote-icons/trash-white.png"
              alt="trash"
            />
          </div>
        </div>
      </header>
      <div class="sideBarWrapper">
        <section class="sideBar">
          <a id="linkNoteBtn" href="/notebooks">LinkNote</a>
          <div id="hiddenSideBarBtn">
            <img
              src="https://cdn.linknote.online/linknote-icons/hamburger.png"
              alt="hamburger"
            />
          </div>
          <div class="searchNote">
            <input type="text" placeholder="Search note" />
            <img
              src="https://cdn.linknote.online/linknote-icons/search.png"
              alt="search"
            />
          </div>
          <div class="noteCtn">
            <div class="noteCtnTop">
              <h3 class="notebookName"></h3>
              <div class="sideBarBtnArea">
                <div class="createNoteBtn">
                  <p>New</p>
                </div>
                <div class="filter">
                  <img
                    src="https://cdn.linknote.online/linknote-icons/filter.png"
                    alt="filter"
                  />
                  <p>Filter</p>
                </div>
                <div class="filterCtn display-none">
                  <div class="allNoteBtn filterBtn">
                    <img
                      src="https://cdn.linknote.online/linknote-icons/notes.png"
                      alt="notes"
                    />
                    <p>All notes</p>
                    <img
                      class="filterCheck display-none"
                      src="https://cdn.linknote.online/linknote-icons/check.png"
                      alt="check"
                    />
                  </div>
                  <div class="starBtn filterBtn">
                    <img
                      src="https://cdn.linknote.online/linknote-icons/full-star.png"
                      alt="notes"
                    />
                    <p>Star</p>
                    <img
                      class="filterCheck display-none"
                      src="https://cdn.linknote.online/linknote-icons/check.png"
                      alt="check"
                    />
                  </div>
                  <div class="sortBtn filterBtn">
                    <img
                      src="https://cdn.linknote.online/linknote-icons/clock.png"
                      alt="notes"
                    />
                    <p>Sort By Time</p>
                    <img
                      class="filterCheck display-none"
                      src="https://cdn.linknote.online/linknote-icons/check.png"
                      alt="check"
                    />
                  </div>
                </div>
                <div class="notebookTagBtn">
                  <img
                    src="https://cdn.linknote.online/linknote-icons/tag-yellow.png"
                    alt="tag"
                  />
                </div>
                <div class="notebookTagCtn display-none">
                  <p class="title">Tags</p>
                  <div class="tagArea">
                    <!-- <div class="tag">
                          <p>Java</p>
                          <div class="deleteTagBtn">
                            <p>Removev</p>
                          </div> -->
                  </div>
                  <div class="createTagForm">
                    <input
                      type="text"
                      id="newTag"
                      placeholder="Craete new tag"
                    />
                    <div id="createTagBtn">
                      <p>Create</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="noteArea"></div>
            <!-- <div class="noteArea">
                  <div class="note">
                    <p>How to use Spring boot?</p>
                    <div class="star"></div>
                  </div>
                  <div class="note">
                    <p>How to use Spring boot?</p>
                    <div class="star"></div>
                  </div>
                  <div class="note">
                    <p>How to use Spring boot?</p>
                    <div class="star"></div>
                  </div>
                  <div class="note">
                    <p>How to use Spring boot?</p>
                    <div class="star"></div>
                  </div>
                  <div class="note">
                    <p>How to use Spring boot?</p>
                    <div class="star"></div>
                  </div>
                  <div class="note">
                    <p>How to use Spring boot?</p>
                    <div class="star"></div>
                  </div>
                  <div class="note">
                    <p>How to use Spring boot?</p>
                    <div class="star"></div>
                  </div>

                  <div class="note">
                    <p>How to use Spring boot?</p>
                    <div class="star"></div>
                  </div>
                  <div class="note">
                    <p>How to use Spring boot?</p>
                    <div class="star"></div>
                  </div>
                  <div class="note">
                    <p>How to use Spring boot?</p>
                    <div class="star"></div>
                  </div>
                  <div class="note">
                    <p>How to use Spring boot?</p>
                    <div class="star"></div>
                  </div>
                  <div class="note">
                    <p>How to use Spring boot?</p>
                    <div class="star"></div>
                  </div>
                  <div class="note">
                    <p>How to use Spring boot?</p>
                    <div class="star"></div>
                  </div>
                  <div class="note">
                    <p>How to use Spring boot?</p>
                    <div class="star"></div>
                  </div>
                  <div class="note">
                    <p>How to use Spring boot?</p>
                    <div class="star"></div>
                  </div>
                  <div class="note">
                    <p>How to use Spring boot?</p>
                    <div class="star"></div>
                  </div>
                  <div class="note">
                    <p>How to use Spring boot?</p>
                    <div class="star"></div>
                  </div>
                  <div class="note">
                    <p>How to use Spring boot?</p>
                    <div class="star"></div>
                  </div>
                  <div class="note">
                    <p>How to use Spring boot?</p>
                    <div class="star"></div>
                  </div>
                  <div class="note">
                    <p>How to use Spring boot?</p>
                    <div class="star"></div>
                  </div>
                  <div class="note">
                    <p>How to use Spring boot?</p>
                    <div class="star"></div>
                  </div>
                </div> -->
          </div>
          <div class="sideBarBottom">
            <div class="userEmail">
              <p></p>
            </div>
            <div class="signoutBtn">
              <img
                src="https://cdn.linknote.online/linknote-icons/signout.png"
                alt="signout"
              />
              <p>SignOut</p>
            </div>
          </div>
        </section>
      </div>
      <main></main>
    </div>

    <script src="/tuiEditor/js/toastui-editor-all.min.js"></script>
    <script src="/base/js/FetchData.js"></script>
    <script src="/base/js/Message.js"></script>
    <script src="/note/js/tuiEditor.js"></script>
    <script src="/base/js/DeleteAlert.js"></script>
    <script src="/note/js/NoteMain.js"></script>
  </body>
</html>
