.notebookArea {
  padding: 40px 60px;
}

/* =====================init區域===================== */
.initNotebookWrapper {
  margin-top: 15px;
  background-color: rgba(44, 44, 44, 0.8);
  border-radius: 10px;
  margin: auto;
}

.initNotebookCtn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  height: 30vh;
  gap: 20px;
  img {
    width: 80px;
    height: 80px;
  }
  h4 {
    font-size: 20px;
    font-weight: 700;
  }
}
.initBtns {
  display: flex;
  font-size: 16px;
  font-weight: 700;
  margin-top: 10px;
  gap: 5px;
}

#initCreateNotebookBtn {
  display: inline;
  background-color: rgb(50, 138, 6);
  padding: 10px 15px;
  border-radius: 5px;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  &:hover {
    opacity: 0.8;
  }
}

#tutorials {
  background-color: #a1c414;
  padding: 10px 15px;
  border-radius: 5px;
  transition: all 0.2s ease-in-out;
  cursor: 
  &:hover {
    opacity: 0.8;
  }
}

/* =====================Notebooks區域===================== */
.notebooksTop {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.notebookArea h3 {
  color: #ccc;
  font-size: 20px;
  font-weight: 500;
  position: relative;
  bottom: -10px;
}

.search {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.search input {
  background-color: transparent;
  position: relative;
  bottom: -2px;
  vertical-align: bottom;
  border-radius: 5px;
  border: 2px solid #666;
  color: #ccc;
  padding: 8px 30px 8px 12px;
  width: 180px;
  &::placeholder {
    color: #999;
  }
}

.search img {
  width: 20px;
  height: 20px;
  vertical-align: bottom;
  position: absolute;
  right: 10px;
  cursor: pointer;
}

.notebookCtn {
  height: calc(100vh - 130px);
  overflow: scroll;
  padding-right: 10px;

  &::-webkit-scrollbar {
    display: block;
    width: 8px;
  }
}
.noteCtn {
  position: relative;
  max-height: 480px;
  overflow-y: scroll;
  padding-top: 20px;
  padding-right: 10px;
  border-top: 2px solid white;
  margin-top: 20px;
}

.leaveCoNotebookBtn {
  font-size: 16px;
  font-weight: 700;
  background-color: red;
  padding: 7px 10px;
  border-radius: 3px;
  position: absolute;
  right: 0;
  top: 10px;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
  color: #eee;
  &:hover {
    opacity: 0.8;
  }
}
.noteCtn h4 {
  padding: 10px;
  font-weight: 700;
  font-size: 20px;
  color: white;
  display: inline-block;
  border-bottom: 1px solid transparent;
}

.notebookInfo {
  position: relative;
}

.description {
  margin-top: 10px;
  padding: 10px 10px;
  max-width: 100%;
  overflow: hidden;
}

.editMode {
  border: 2px solid #999;
  border-radius: 5px;
}
.updateBtnCtn {
  padding-top: 10px;
  display: flex;
  gap: 10px;
  justify-content: end;
}
.updateBtn {
  border-radius: 5px;
  background-color: green;
  padding: 10px 15px;
  font-size: 16px;
  font-weight: 500;
  user-select: none;
  cursor: pointer;
  &:hover {
    opacity: 0.8;
  }
}
.cancelUpdateBtn {
  border-radius: 5px;
  background-color: #666;
  padding: 10px 15px;
  font-size: 16px;
  font-weight: 500;
  user-select: none;
  cursor: pointer;
  &:hover {
    opacity: 0.8;
  }
}

.toolBar {
  position: absolute;
  right: 0;
  top: 10px;
  display: flex;
  align-items: end;
  gap: 5px;
}

.toolBtn {
  width: 34px;
  height: 34px;
  padding: 3px;
  border: 1px solid #999;
  border-radius: 3px;
  cursor: pointer;
  transition: all ease-in-out 0.1s;
  background-size: cover;
  &:hover {
    background-color: #666;
  }
  img {
    display: block;
    margin: auto;
    width: 23px;
    height: 23px;
    vertical-align: bottom;
  }
}
.createNoteBtn {
  padding: 7px 10px;
  height: 35px;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  background-color: #3d8344;
  border-radius: 3px;
  transition: all ease-in-out 0.1s;
  cursor: pointer;
  &:hover {
    opacity: 0.8;
  }
  display: flex;
  align-items: center;
  p {
    margin: auto;
  }
}

#collaboratorBtn {
}

#allNoteBtn {
}
#tagBtn {
}

#sortByTimeBtn {
}
#starBtn {
}
.noteCardCtn {
  display: grid;
  /* grid-template-rows: repeat(4, 120px); */
  gap: 10px;
  max-height: 380px;
  overflow: scroll;
  margin-block: 10px;
  &:hover {
    &::-webkit-scrollbar {
      display: block;
      width: 8px;
    }
  }
}
@media screen and (min-width: 1550px) {
  .noteCardCtn {
    grid-template-columns: repeat(5, 1fr);
  }
}
@media screen and (min-width: 1200px) AND (max-width: 1550px) {
  .noteCardCtn {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media screen and (min-width: 1000px) AND (max-width: 1200px) {
  .noteCardCtn {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (min-width: 800px) AND (max-width: 1000px) {
  .noteCardCtn {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen AND (max-width: 800px) {
  .noteCardCtn {
    grid-template-columns: repeat(1, 1fr);
  }
}

.noteCard {
  position: relative;
  height: 120px;
  padding: 8px 10px;
  border-radius: 8px;
  background-color: #333;
  border: 1px solid #999;
  transition: all ease-in-out 0.2s;
  &:hover {
    background-color: #777;
  }
}

.noteCard h5 {
  color: #eee;
  font-weight: 700;
}
.star {
  position: absolute;
  z-index: 5;
  right: 5px;
  top: 5px;
  background-size: cover;
  width: 25px;
  height: 25px;
  cursor: pointer;
  &:hover {
    background-image: url(https://cdn.linknote.online/linknote-icons/full-star.png);
  }
}

.star-empty {
  background-image: url(https://cdn.linknote.online/linknote-icons/empty-star.png);
}
.star-full {
  background-image: url(https://cdn.linknote.online/linknote-icons/full-star.png);
}
.star:hover + .noteCard {
  background-color: #333;
}

.question {
  font-size: 12px;
  padding: 6px 3px 3px 3px;
  color: #eee;
  font-weight: 500;
  height: 63px;
  overflow: hidden;
}
.deleteNoteBtn {
  width: 20px;
  height: 20px;
  background-image: url(https://cdn.linknote.online/linknote-icons/trash-white.png);
  background-size: cover;

  position: absolute;
  bottom: 5px;
  left: 12px;
  &:hover {
    background-color: #999;
    border-radius: 5px;
  }
}
.createTime {
  position: absolute;
  bottom: 5px;
  right: 12px;
  font-size: 12px;
  font-weight: 500;
  color: #aaa;
}
.none {
  margin-top: 20px;
  border-radius: 5px;
  background-color: rgba(44, 44, 44, 0.2);
  border: 1px solid #999;
  text-align: center;
  padding: 20px;
  font-size: 18px;
}
