.sideBar {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 260px;
  padding: 20px 10px 15px 10px;
  background-color: #1f221f;
  opacity: 0.9;
  flex-grow: 0;
}

.sideBar-welcome {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center;
  width: 230px;
  height: 100px;
  padding: 10px;
  background-color: #333;
  color: #fff;
  border-radius: 5px;
  h2 {
    font-weight: 500;
  }
}

.welcome-username {
  display: flex;
  gap: 10px;
  max-width: 75%;
  overflow: hidden;
  img {
    width: 30px;
    height: 30px;
  }
  p {
    margin: auto;
    font-size: 20px;
    white-space: nowrap;
    font-weight: 600;
  }
}

#createNotebookBtn {
  border: none;
  border-radius: 5px;
  background-color: #3d8344;
  color: white;
  font-size: 18px;
  font-weight: 700;
  margin-block: 10px;
  width: 230px;
  height: 50px;
  cursor: pointer;
  &:hover {
    opacity: 0.8;
  }
}

.sideBarBtnArea {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-block: 10px;
  border-block: 1px solid #666666;
  height: calc(100vh - 270px);
}

.notebookGroup {
  display: flex;
  justify-content: space-between;
}

.sideBarBtn {
  display: flex;
  gap: 15px;
  align-items: center;
  color: white;
  padding: 10px;
  width: 230px;
  cursor: pointer;
  transition: all ease-in-out 0.2s;
  border-radius: 2px;
  font-size: 14px;
  font-weight: 500;
  height: 30px;
  img {
    width: 20px;
    height: 20px;
  }
  &:hover {
    background-color: #999;
  }
}

.myNotebookBtn {
  display: flex;
  gap: 15px;
  align-items: center;
}

.coNotebookBtn {
  display: flex;
  gap: 15px;
  align-items: center;
}

.notebooksCtn {
  display: flex;
  flex-direction: column;
  padding-left: 15px;
  user-select: none;
  transition: all 0.2s ease-in-out;
  max-height: calc(100vh - 450px);
  overflow-y: scroll;
  overflow-x: hidden;
  &:hover {
    &::-webkit-scrollbar {
      display: block;
    }
  }
  p {
    max-width: 200px;
    padding: 8px 10px;
    color: white;
    font-size: 14px;
    border-radius: 3px;
    transition: all ease-in-out 0.2s;
    cursor: pointer;
    &:hover {
      background-color: #666666;
    }
  }
}

.sideBarLoader {
  margin: 10px auto auto 85px;
}

.invitationsBtn {
}

.settingBtn {
}

.extendBtn {
  width: 20px;
  height: 20px;
  background-image: url(https://cdn.linknote.online/linknote-icons/extendBtn.png);
  background-size: cover;
  cursor: pointer;
}

.sideBarBottom {
  width: 240px;
  margin-top: 10px;
}

.sideBarBottomBlock {
  border-radius: 5px;
  padding: 8px 15px;
  width: 230px;
  margin: auto;
  text-align: center;
  p {
    font-weight: 500;
    margin: auto;
    color: white;
  }
}

.userEmail {
  background-color: #444;
  overflow: hidden;
  p {
    font-size: 13px;
    &::before {
      content: "";
      width: 10px;
      height: 10px;
      display: inline-block;
      border-radius: 50%;
      background-color: green;
      position: relative;
      left: -10px;
    }
  }
}

.signoutBtn {
  background-color: #0c5013;
  cursor: pointer;
  transition: all ease-in-out 0.4;
  margin-top: 7px;
  &:hover {
    opacity: 0.8;
  }
  p {
    font-size: 14px;
    &::before {
      content: "";
      background-image: url(https://cdn.linknote.online/linknote-icons/signout.png);
      display: inline-block;
      width: 14px;
      height: 14px;
      background-size: cover;
      position: relative;
      left: -10px;
      bottom: -3px;
    }
  }
}
