.sideBar {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 260px;
  padding: 20px 10px;
  background-color: #1f221f;
  opacity: 0.9;
  flex-grow: 0;
}

.sideBar-welcome {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center;
  width: 230px;
  height: 100px;
  padding: 10px;
  background-color: #333;
  color: #fff;
  border-radius: 5px;
  h2 {
    font-weight: 500;
  }
}

.welcome-username {
  display: flex;
  gap: 10px;
  max-width: 75%;
  overflow: hidden;
  img {
    width: 30px;
    height: 30px;
  }
  p {
    margin: auto;
    font-size: 20px;
    white-space: nowrap;
    font-weight: 600;
  }
}

#createNotebookBtn {
  border: none;
  border-radius: 5px;
  background-color: #3d8344;
  color: white;
  font-size: 18px;
  font-weight: 700;
  margin-block: 10px;
  width: 230px;
  height: 50px;
  cursor: pointer;
  &:hover {
    opacity: 0.8;
  }
}

.sideBarBtnArea {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-top: 10px;
  border-top: 1px solid #666666;
}

.notebookGroup {
  display: flex;
  justify-content: space-between;
}

.sideBarBtn {
  display: flex;
  gap: 15px;
  align-items: center;
  color: white;
  padding-left: 10px;
  width: 230px;
  cursor: pointer;
  transition: all ease-in-out 0.2s;
  border-radius: 2px;
  font-size: 14px;
  font-weight: 500;
  height: 30px;
  img {
    width: 20px;
    height: 20px;
  }
  &:hover {
    background-color: #999;
  }
}

.myNotebookBtn {
  display: flex;
  gap: 15px;
  align-items: center;
}

.coNotebookBtns {
  display: flex;
  gap: 15px;
  align-items: center;
  font-size: 13px;
}

.invitationsBtn {
}

.settingBtn {
}

.extendBtn {
  width: 20px;
  height: 20px;
  background-image: url(https://cdn.linknote.online/linknote-icons/extendBtn.png);
  background-size: cover;
  cursor: pointer;
}
