@import url(/base/style/base.css);
* {
  font-family: "Kanit", sans-serif;
}

body {
  background-image: url(https://cdn.linknote.online/linknote-icons/fugi.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}

.kv-wrapper {
  max-width: 1200px;
  height: 100vh;
  margin: auto;
  padding: 20px;
}

main {
  margin: auto;
  gap: 150px;
}

.slogan-ctn {
  width: 540px;
  position: relative;
  top: 40px;
  color: #f2f2f2;
}
.slogan-ctn h2 {
  color: #f2f2f2;
  display: block;
  margin-bottom: 10px;
  font-size: 45px;
}
.slogan-ctn .subtitle {
  font-size: 28px;
  position: relative;
  left: 20px;
}
.slogan-ctn .subtitle #slogan-CODE {
  font-size: 42px;
  font-weight: 800;
  color: green;
}
.slogan-ctn .subtitle #slogan-nextLine {
  position: relative;
  left: 170px;
}
.slogan-ctn .CODE {
  margin-top: 50px;
  flex-direction: column;
  gap: 10px;
}
.slogan-ctn .CODE p {
  font-size: 24px;
}
.slogan-ctn .CODE p {
  position: relative;
  left: 20px;
}
.slogan-ctn .initials {
  color: green;
  font-size: 32px;
  font-weight: 600;
}

.signInUp-area {
  width: 420px;
  transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.blurry-background {
  width: 100%;
  height: 500px;
  flex-shrink: 0;
  right: 20px;
  flex-grow: 0;
  border-radius: 20px;
  background: transparent;
  border: 2px solid rgba(255, 255, 255, 0.2);
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
  padding: 40px 50px 10px 50px;
}

.blurry-background .form-ctn {
  flex-direction: column;
  gap: 25px;
}
.blurry-background .form-ctn .input-box {
  position: relative;
}
.blurry-background .form-ctn .input-box input {
  width: 100%;
  background: transparent;
  border: none;
  border-bottom: #052940 2px solid;
  position: relative;
  padding: 0 5px;
  color: white;
}
.blurry-background .form-ctn .input-box input::-moz-placeholder {
  padding: 0 5px;
  color: #dddddd;
}
.blurry-background .form-ctn .input-box input::placeholder {
  padding: 0 5px;
  color: #dddddd;
}
.blurry-background .form-ctn .input-box input:focus {
  outline: none;
}
.blurry-background .form-ctn .input-box .icon {
  position: absolute;
  top: -10px;
  right: 10px;
}
.blurry-background .form-ctn img {
  width: 25px;
  height: 25px;
}
.blurry-background .form-ctn #login-text {
  text-align: center;
  font-size: 30px;
  font-weight: 500;
  color: #263935;
}
.blurry-background .form-ctn button {
  width: 100%;
  height: 40px;
  margin: 10px auto 0 auto;
  border-radius: 12px;
  border: 1px solid #263935;
  background-color: #263935;
  color: white;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.blurry-background .form-ctn button:hover {
  opacity: 0.8;
}
.blurry-background .form-ctn #signin-error-msg {
  text-align: center;
  color: red;
}
.blurry-background .form-ctn #signup-error-msg {
  text-align: center;
  color: rgb(204, 12, 12);
}
.blurry-background .form-ctn .switch-form {
  text-align: center;
}
.blurry-background .form-ctn .switch-form p {
  color: #dddddd;
}
.blurry-background .form-ctn .switch-form span {
  cursor: pointer;
  text-decoration: underline;
  color: #778b86;
}
.blurry-background .form-ctn .switch-form span:hover {
  opacity: 0.7;
} /*# sourceMappingURL=style.css.map */
